
.center {
    text-align: center;
}
.font_verdana {
    font-family: Verdana;
}
.green {
    color: green;}

.orange {
    color: rgb(184, 52, 19)
}

#page_title {
    color: rgb(46, 23, 172);
    font-style: italic;}

#info1 {
    color: rgb(3, 66, 85);
}
#info2 {
    color: rgb(56, 1, 56);
}
#info3 {
    color: rgb(158, 106, 38);
    font-style: italic;
}
form {
    font-weight: bold;
}

.aligncenter_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}